body {
    background-color: antiquewhite;
    color: black;
}
h1{
    color: red;
}
h2{
    color: rgb(248, 99, 99);
}
h3{
    color: black;
}

p {
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.match{
     color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#big{
    font-size: 2em;
}