main {
    background-color: antiquewhite;
}
h1{
    background-color: antiquewhite;
    color: red;
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
    background-color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: antiquewhite;
    font-size: 1em;
}
a {
    background-color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 0, 0);
}
